build/
*.class
*.log
.gradle

target/
bin/
.springBeans
.classpath
.settings/
.project
.idea
*.iml
*~

rebel.xml
.idea
.DS_Store

/bower_components
/dist
/node_modules
/npm-debug.log
/package-lock.json
/.sass-cache
/.assets
